nav {
    background: rgb(128,128,128) !important;
}
.table {
    background-color: white  !important;
}

nav #seta-block {
    display: flex;
    position: relative;
    height: 100%;
    width: 3.3%;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

nav #plus-block {
    display: flex;
    position: relative;
    height: 100%;
    width: 3.3%;
    right: 88%;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

#imgSetaEsquerda{
    background-color: DeepPink;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 86%;
    border-radius: 10%;
}

#imgSetaEsquerda:hover{
    background-color: HotPink;
}

#imgPlus {
    background-color: rgba(0, 300, 0, 0.8);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 86%;
    border-radius: 10%;
}

#imgPlus:hover {
    background-color: rgba(0, 200, 0, 1);
}

#btn-block{
    width: 12%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    position: relative;
    right: 82%;
  
}

.btn-img {
    width: 60%;
    margin: 0%;
    padding: 0%;
    display: contents;
}

#img-edit {
    background-color: white;
    height: 40px;
    position: relative;
    left: 4%;
}

#img-delete {
    height: 40px;
    position: relative;
    left: 7%;
}

