body {
    width: 100vw;
    height: 100vh;
    background: rgb(128,128,128) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-registre{
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-registre form {
    width: 60%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: rgba(250, 250, 250, 1);
}

.page-registre .input-btnVoltar-block {
    display: flex;
    position: relative;
    width:100%;
    height: 5.5%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.page-registre .input-btnVoltar-block a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0%;
    padding:0%;
    left: 7%;
}

.page-registre .input-btnVoltar-block a img {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: DeepPink;
}

.page-registre .input-btnVoltar-block a img:hover {
    background-color: HotPink;
}


.page-registre form .input-block{
    width: 90%;
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.page-registre form .input-block label{
    font: italic 12pt;
    margin-bottom: 2px;
    width: 95%;
}

.page-registre form .input-block input{
    width: 90%;
}

.page-registre .input-btnVoltar-block {
    display: flex;
    position: relative;
    width:100%;
    height: 5%;
    justify-content: flex-start;
    align-items: center;
}

.page-registre .input-btnVoltar-block button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 90%;
    left: 7.5%;
    bottom: 15%;
    border-radius: 5px;
    margin: 0%;
    padding: 0%;
}

.page-registre form .input-radio-block {
    width: 90%;
    height: 8%;
    display: flex;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 4px;
}

.page-registre form .input-button-block {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 7.5%;
    margin-top: 10px;
}

.page-registre form .input-button-block button {
    background-color: rgba(0, 200, 0, 1);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 25%;
    border-radius: 10px;
    left: 7.5%;
    margin: 0%;
    padding: 0%;
}

.page-registre form .input-button-block button:hover{
    background-color: rgba(0, 300, 0, 0.8);
}

.page-registre form .input-button-block button img {
    display: flex;
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0%;
}