<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registre.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <script type="text/javascript" src="../../JS/login.js"></script>

    <title>Registre-se</title>
</head>

<body>
    <div class="page-registre">
        <form action="../../Controller/recebeRegistre.php" method="POST">

            <div class="input-btnVoltar-block">
                <a href="../../Controller/recebeRegistre.php" onclick="voltarLogin()">
                    <img id='imgSetaEsquerda' src="../../img/arrow-left-square.svg" alt="Seta indicando para voltar">
                </a>
            </div>

            <div class="input-block">
                <label for="nome">Nome Completo:</label>
                <input type="text" name="nome" id="nome" placeholder="Exemplo Pereira da Silva">
            </div>

            <div class="input-block">
                <label for="cpf">CPF:</label>
                <input type="text" name="cpf" id="cpf" required="required" pattern="(\d{3})\.(\d{3})\.(\d{3}).(\d{2})"
                    placeholder="000.000.000-00">
            </div>

            <div class="input-block">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario" id="usuario" placeholder="user.teste">
            </div>

            <div class="input-block">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" placeholder="minhaSenha123">
            </div>

            <div class="input-radio-block">
                <input type="radio" name="isAdm" id="isAdm" value="0" onclick="setRadioButton()">
                <label for="isAdm">Administrador</label>
            </div>

            <div class="input-button-block">
                <button type="submit">
                    <img id="imgCheck" src="../../img/check.svg" alt="imagem de check para salvar novo funcionario" />
                </button>
            </div>

        </form>
    </div>
</body>

</html>