nav {
    background: rgb(128,128,128) !important;
}

nav div a {
    background-color: none;
    width: 2%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    margin-left: 5px;
}

#imgSetaEsquerda{
    background-color: DeepPink;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 105%;
    height: 100%;
    border-radius: 5px;
}

#imgSetaEsquerda:hover{
    background-color: HotPink;
}


.table {
    background-color: white  !important;
}

.btn-img {
    width: 60%;
    margin: 0%;
    padding: 0%;
    display: contents;
}

#img-place {
    height: 40px;
    position: relative;
    left: 15%;
}

#img-edit {
    background-color: white;
    height: 40px;
    position: relative;
    left: 6%;
}

#img-delete {
    height: 40px;
    position: relative;
    left: 10%;
}


