<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <form action="cadastroCliente.php" method="POST">
        <caption>Cadastro de cliente</caption>
        
        <div class="input-block">
            <label for="nome">Nome Completo:</label>
            <input type="text" name="nome" id="nome">
        </div>

        <div class="input-block">
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" id="cpf">
        </div>
        
        <div class="input-block">
            <label for="rg">RG:</label>
            <input type="text" name="rg" id="rg">
        </div>

        <div class="input-block">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
        </div>

        <div class="input-block">
            <label for="telefone1">Telefone 1:</label>
            <input type="text" name="telefone1" id="telefone1">
        </div>

        <div class="input-block">
            <label for="telefone2">Telefone 2:</label>
            <input type="text" name="telefone2" id="telefone2">
        </div>

        <div class="input-block">
            <label for="endereco">Endereço:</label>
            <input type="text" name="endereco" id="endereco">
        </div>

        <div class="input-block">
            <label for="dataNascimento">Data Nascimento:</label>
            <input type="date" name="dataNascimento" id="dataNascimento">
        </div>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>