body {
    background: whitesmoke;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

table{
    border: 1px solid blueviolet;
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 70%;
    align-self: center;
}
table thead{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

table thead tr {
    display: flex;
    align-items: center;
}

table tbody{
    border: 1px solid black;
    width: 100%;
    height: 90%;
    display: flex;
}

.menu {
    display: flex;
    height: 28%;
    width: 80%;
    border: 1px solid red;
    align-self: center;
}

