<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="login.php" method="GET">
        <caption>Login</caption>
        
        <div class="input-block">
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" id="login" placeholder="user.teste">
        </div>

        <div class="input-block">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" placeholder="minhaSenha123">
        </div>

        <button type="submit">Entrar</button>
    </form>
</body>
</html>